h1 {
  color: #043c58;
}

.Go {
  color: #14a5aa;
}

.IVA {
  color: #043c58;
}

.text-iva {
  color: #64748b;
}

main {
  background-color: #cbd5e1;
}

header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  display: block;
}

.Infinity {
  width: 100px;
  height: 100px;
  float: left; /*This forces the text to wrap around the image element*/
}

.user-details {
  float: right;
}
